<main>
  <h2>商品詳細</h2>
   <p id = "notice"></p>
    <div class = "container">
     <div class = "row">
      <div class = "col-sm-12 cd-8 col-lg-5 px-5 px-sm-0 mx-auto">








   </div>
  </div>
 </div>
</main>