<main>
  <!--退会した際にメッセージを表示-->
  <p><%= notice %></p>
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-5 px-sm-0 mx-auto">

        <div class = "background">
          <div class = "background-content">
            ようこそ、ながのCAKEへ!</br>
            このサイトは、ケーキ販売のECサイトになります。</br>
            会員でない方も商品の閲覧はできますが、</br>
            購入には会員登録が必要になります。
          </div>
        </div>
        <h4>新着商品</h4>
      </div>
    </div>

    <div class = "row">
      <div class = "col-sm-9 offset-sm-3">
        <%= render 'partial_template/item_index', item: @items, text: '150x100' %>
      </div>
    </div>
    <div class = "row">
      <div class = "col-sm-3 offset-sm-9">
        <%= link_to "全ての商品を見る>", items_path %>
      </div>
    </div>
  </div>
</main>