<main>
  <p id = "notice"></p>
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

        <div class = "cake">
          <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
            ようこそ、ながのCAKEへ!</br>
            このサイトは、ケーキ販売のECサイトになります。</br>
            会員でない方も商品の閲覧はできますが、</br>
            購入には会員登録が必要になります。
          </div>
        </div>

        <h4>新着商品</h4>

      </div>
    </div>
  </div>
</main>








   </div>
  </div>
 </div>
</main>