<div class="row">
  <div class = "col-sm-2">
    ジャンル名
  </div>
  <div class = "col-sm-3">
    <%= f.text_field :name, autofocus: true, :placeholder => "ジャンル名" %>
  </div>
  <div class = "col-sm-1">
    <%= f.submit text, class: "btn btn-sm btn-success" %>
  </div>
</div>