<main>
  <h4>ジャンル編集</h4>
   <p id = "notice"></p>
   <div class = "container">
    <div class = "row">
     <div class = "col-sm-9">

      <%= render 'partial_template/error', error: @genre %>

  <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch do |f| %>
  <%= render 'admin/genres/genre', text: "変更を保存", f: f %>
  <% end %>

   </div>
  </div>
 </div>
</main>