<main>
  <h5>配送先登録/一覧</h5>
  <%= render 'partial_template/error', error: @address %>

  <div class = "container">
    <div class = "row">
      <div class = "col-sm-8">

        <%= form_with model: @address, url: address_path, method: :patch do |f| %>

        <%= render 'partial_template/addres_content', f: f, text: "変更内容を保存" %>
        <% end %>

      </div>
    </div>
  </div>
</main>