@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  margin: 33px;
}

.end-10 {
  right: 0;
}

.table td {
  border : 1px black solid !important;
}