<main>
  <div class = "container">
    <div class = "row">
      <h3><strong>商品一覧</strong></h3><h5 class = "mt-2">(全<%= @item %>件)</h5>
    </div>

    <%= render 'partial_template/item_index', item: @items, text: '200x150' %>

    <div class = "row">
      <div class = "col-sm-5 offset-sm-5">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</main>