<main>
  <p id="notice"></p>
   <div class = "container px-5 px-sm-0">
     <div class = "row">
       
       <h3>商品一覧</h3><h5>(全<%= @item.count %>件)</h5>
       
       
       
     </div>
   </div>
</main>